* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}

/* Gradient animation */
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}

.boxbox2 {
    background-color: #f8f9fa;
}

.boxbox2 .dog {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin: 20px 0;
}
 
footer {
    padding: 3rem 2rem;
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    color: #fff;
}

footer a {
    color: #f8f9fa;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
 
@media (max-width: 768px) {

    h1 {
        text-align: center;
    }

    .boxbox1 {
        margin-left: 0;
    }

    .boxbox2 h2 {
        font-size: 1.5rem;
    }

    footer {
        text-align: center;
    }
}
